.elementExample {
  width: 200px;
  height: 200px;
  line-height: 200px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.elementExample_first {
  background-color: #8e44ad;
  top: 200px;
}
.elementExample_last {
  background-color: #c0392b;
}

.elementExample_isActive {
  z-index: 1;
}
